bin/
obj/
**/bin/
**/obj/
*.user
*.suo
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
*.log
node_modules/
petitionservice.client/node_modules/
**/node_modules/
*.zip
*.tar
.git
.gitignore
.env
.env.*
docker-compose.override.yml
**/*.md
.idea/
